<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.mapper.AddressMapper">
    <!--分步查询的第二步 -->
    <select id="queryAddressById" resultType="com.itheima.entity.Address">
        select address_id addressId,province,city,town from address where address_id=#{id}
    </select>

    <resultMap id="AddressPlus" type="com.itheima.entity.Address">
        <id column="address_id" property="addressId"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="town" property="town"/>
        <!--嵌套结果集的方式,使用collection标签定义关联的集合类型的属性封装规则
             collection定义关联集合类型的属性的封装规则
             ofType:指定集合里面元素的类型
         -->
        <collection property="persons" ofType="com.itheima.entity.Person">
            <id column="no" property="no"/>
            <result column="name" property="name"/>
            <result column="age" property="age"/>
            <result column="height" property="height"/>
        </collection>
    </resultMap>

    <select id="queryAddressByIdPlus" parameterType="java.lang.Integer" resultMap="AddressPlus">
        select address.address_id,province,city,town,no,name,age,height from address
               left join person on address.address_id = person.address_id
               where address.address_id=#{addressId};
    </select>




    <resultMap id="AddressPlusWithDiscriminator" type="com.itheima.entity.Address">
        <id column="address_id" property="addressId"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="town" property="town"/>
        <!--根据鉴别器 根据条件选择封装地址对应的人员信息
        如果地址为 宝鸡 就将在该地区的人查询出来
        如果地址为 西安 不查询该地区的人 对Address就做特殊的封装 保持city和town的信息一样
        -->

        <discriminator javaType="java.lang.String" column="city">
            <case value="宝鸡" resultType="com.itheima.entity.Person">
                <collection property="persons" select="com.itheima.mapper.PersonMapper.queryPersonByAddressId"
                column="address_id">
                </collection>
            </case>
            <case value="西安" resultType="com.itheima.entity.Person">
                <id column="address_id" property="addressId"/>
                <result column="province" property="province"/>
                <result column="city" property="city"/>
                <result column="town" property="city"/>
            </case>
        </discriminator>
    </resultMap>
    <!--通过分步查询Address对应的人员的信息-->
    <select id="queryAddressByIdWithDiscriminator" resultMap="AddressPlusWithDiscriminator">
        select address_id,province,city,town from address where address_id=#{addressId}
    </select>
</mapper>